@using Domain.Entities
@model IEnumerable<Domain.Entities.Book>
@{
    ViewData["Title"] = "Ana Sayfa";
}
<h2 class="text-center">Kütüphanemizdeki Kitaplar</h2>
<br />
<div class="text-center">
    @foreach (var book in Model.OrderBy(x=>x.Name))
    {
        <div class="card" style="width: 18rem; height: 275px; display: inline-block; margin: 5px; overflow: hidden;">
            <br/>
            <img src="@book.BookPhotoUrl" class="card-img-top mx-auto d-block" alt="@book.Name" style="width: 30%; height: 45%;">
            <div class="card-body">
                <h6 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@book.Name</h6>
                <h6 class="card-subtitle" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@book.AuthorName</h6>
                <br/>
                <a>
                    @if (book.Status)
                    {
                        <span style="color: green;">Kütüphanede</span>
                    }
                    else
                    {
                        <span style="color: red;">Dışarıda</span>
                    }
                </a>
            </div>
        </div>
    }
</div>

@if (!Model.Any())
{
    <p>Kütüphanede kitap mevcut değil</p>
}
<br />
<a href="/Book/ListBook" class="btn btn-primary">Kitap İşlemlerine Git</a>