@model WebMVC.Models.ViewModels.AddBookFormViewModel
@{
    ViewData["Title"] = "Kitap Ekle";
}
<h2>Kitap Ekle</h2>
<br/>

<form asp-action="AddBook" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="BookName">Kitap Adı</label>
        <input asp-for="BookName" class="form-control" />
        <span asp-validation-for="BookName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AuthorName">Yazar Adı</label>
        <input asp-for="AuthorName" class="form-control" />
        <span asp-validation-for="AuthorName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookPhotoFile">Kitap Fotoğrafı</label>
        <input asp-for="BookPhotoFile" type="file" class="form-control" />
        <span asp-validation-for="BookPhotoFile" class="text-danger"></span>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
