@model WebMVC.Models.ViewModels.HiringBookFormViewModel
@{
    ViewData["Title"] = "Kitap Kirala";
}
<h2>Kitap Kirala</h2>
<br/>
<form asp-action="HiringBook" method="post">
    <div class="form-group">
        <label asp-for="CustomerName">Kişi Adı</label>
        <input asp-for="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReturnDateTime" class="control-label">İade Tarihi</label>
        <input asp-for="ReturnDateTime" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="ReturnDateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BookId">Kitap</label>
        <select asp-for="BookId" class="form-control">
            <option value="">Kitap Seçin</option>
            @foreach (var book in ViewBag.Books) 
            {
                <option value="@book.Id">@book.Name</option>
            }
        </select>
        <span asp-validation-for="BookId" class="text-danger"></span>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Ödünç Al</button>
</form>